name: Test

on:
  push:
    branches-ignore: [master]
  workflow_call:

jobs:
  build:
    name: Run unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

        # Builds the release artifacts of the library
      - name: Test
        run: ./gradlew cleanJvmTest jvmTest